<div class="row comment-fix">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for(comment.chef, size: 60) %>
    </section>
  </div>
  <div class="col-md-8 well">
    <p><%= comment.description %></p>
    <p>
      <span class="quiet"><small>Created: <%= time_ago_in_words(comment.created_at) %> ago by 
                                                          <%= comment.chef.chefname %></small></span>
    </p>
  </div>
</div>