<h1 align="center">Listing all Recipes</h1>
<hr />

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
        
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= recipe.name %></h4>
      <p><%= truncate(recipe.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
      </p> 
    </div>
  </div>
<% end %>