<footer class="footer">
  <small>
    <strong><a href="http://www.mashrurhossain.com/">Matacode Development Training</a></strong>
    by <em><a href="http://www.mashrurhossain.com/">Mashrur Hossain</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>